
<div>
    <mat-card class="box" style="margin-top: 5%; width: 50%; ">
        
        <textarea name="comment" id="" style="width: 100%; height: 90px;" placeholder="What are you thinking about?"
            [ngModelOptions]="{standalone: true}" [(ngModel)]="text">
        </textarea>

        <div class="btnWrapper">
            <button type="button" class="btn btn-outline-primary postCreationBtns" [disabled] = 'text === ""' (click) = "publishPost()">Publish</button>
            <button type="button" class="btn btn-outline-primary postCreationBtns" [disabled] = 'text === ""'>Save</button>
            <button type="button" class="btn btn-outline-dark postCreationBtns" [disabled] = 'text === ""'>Cancel</button>
        </div>

    </mat-card>
</div>