.box{
    margin-top: 5%;
    width: 50%;
}

#post_textarea {
    font-family: 'Arial', Times, serif;
    font-size: 24px;
    width: 100%;
}

.btnWrapper {
    margin-top: 1%;
}

.postCreationBtns {
    margin-right: 2%;
}