<mat-toolbar class="navbar_style">
    <mat-toolbar-row>

        <button mat-button (click) = "navigateToHome()" ><h4>WALL </h4></button>
        <span class="spacer"></span>
        <div *ngIf="!loggedIn">
            <button mat-button (click) = "navigateToHome()"><i class="fa fa-home fa-2x" aria-hidden="true"> </i>&nbsp;Home</button>
            <button mat-button routerLink = "/register"><i class="fa fa-users fa-2x" aria-hidden="true"></i>&nbsp; &nbsp;Register</button>
            <button mat-button routerLink = "/login" ><i  class="fa fa-sign-in fa-2x" aria-hidden="true"></i>&nbsp; &nbsp;Log In</button>
        </div>
        <div *ngIf="loggedIn">
            <button mat-button (click) = "navigateToHome()"><i class="fa fa-home fa-2x" aria-hidden="true"> </i>&nbsp;Home</button>
            <button mat-button ><i class="fa fa-user fa-2x" aria-hidden="true"> </i>&nbsp;My Profile</button>
            <button mat-button (click)="onLogOut()"><i class="fa fa-sign-out fa-2x" aria-hidden="true"></i>Log Out</button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>